<footer class="footer">
  <div class="footer-container">
      <hr class="separator">
      <div class="owner-info">
          <p class="title">Adison Peña Martínez</p>
          <ul class="links">
              <li title="GitHub">
                  <a href="https://github.com/hirayoki22/apena" target="_blank">
                      <i class="fab fa-github"></i>
                  </a>
              </li>
              <li title="CodePen">
                  <a href="https://codepen.io/hirayoki22" target="_blank">
                      <i class="fab fa-codepen"></i>
                  </a>
              </li>
              <li title="LinkedIn">
                  <a href="https://linkedin.com/in/adison-peña-martínez-a7749b188" target="_blank">
                      <i class="fab fa-linkedin"></i>
                  </a>
              </li>
          </ul>
      </div>
      <p class="desc">
          SmartTec JS Development Test, Santo Domingo &#169;
          <span>{{ date | date:'MMM, y' }}</span> 
      </p>
  </div>
</footer>